*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: url(../imagenes/fondotexturizado.jpg);
    background-size: 100%;
    font-family: cursive;
    position: relative;
    padding-bottom: 3rem;
    min-height: 100vh;
    color: black;
}

.menu{
    width: 95%;
    margin: 0 auto;
}

.hotel{
    width: 120px;
    height: 90px;
    float: left;
}

#header{
    background-image: radial-gradient(circle at 120.71% 50%, #e8d3c8 0, #e5d1c3 5.56%, #e1cebc 11.11%, #dccab4 16.67%, #d5c6ac 22.22%, #cdc2a2 27.78%, #c3bd98 33.33%, #b6b78e 38.89%, #a8b183 44.44%, #97ab79 50%, #85a571 55.56%, #719f6b 61.11%, #5d9b68 66.67%, #469668 72.22%, #29926a 77.78%, #008f6e 83.33%, #008c74 88.89%, #00897b 94.44%, #008784 100%);
    opacity: 85%;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

#nav{
    float: right;
}

#nav ul li{
    list-style: none;
    margin-left: 40px;
    float: left;
}

#nav ul li a{
    text-decoration: none;
    opacity: 100%;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    color: black;
    font-weight: bold;
}

#nav ul li span{
    font-weight: bold;
    font-size: medium;
    color: black;
}

#nav ul li a:hover{
    color: rgb(100, 74, 192);
}

#footer{
    background-image: radial-gradient(circle at 120.71% 50%, #e8d3c8 0, #e5d1c3 5.56%, #e1cebc 11.11%, #dccab4 16.67%, #d5c6ac 22.22%, #cdc2a2 27.78%, #c3bd98 33.33%, #b6b78e 38.89%, #a8b183 44.44%, #97ab79 50%, #85a571 55.56%, #719f6b 61.11%, #5d9b68 66.67%, #469668 72.22%, #29926a 77.78%, #008f6e 83.33%, #008c74 88.89%, #00897b 94.44%, #008784 100%);
    padding: 0;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 85%;
}

#footer span{
    font-weight: bold;
    color: black;

}