<div class="border-start border-2 border-secondary border-end border-2 border-secondary container-fluid m-0 p-0" id="contenedor">
        <div class="row border-top border-2 border-secondary border-bottom border-2 border-secondary m-0 p-0">
            <div class="col-1 justify-content-center d-flex align-items-center m-0 p-2" id="logo">
                <img src="assets/imagenes/LogoSANRES.png" width="85px" alt="LOGO_SANRES">
            </div>
            <div class="col-11 border border-2 border-secondary m-0 p-0" id="content_header">
                <header class="h-75 border-bottom border-2 border-secondary border-bottom border-2 border-secondary p-0 h-50" id="header">
                    <div class="row m-0 p-0">
                        <div class="w-75 text-center d-flex align-items-center justify-content-center">
                            <h1 id="title">SANREST</h1>
                        </div>
                        <div class="w-25 d-flex justify-content-end d-flex align-items-end" id="login">
                            <div class="row container-fluid m-0 p-0">
                                <div class="col-12 m-0 p-0">
                                    <div class="row m-0 p-0" class="input-group">
                                        <div class="col-12 m-0 p-0 d-flex justify-content-end">
                                            <ul>
                                                <li><a href="login">
                                                        <button type="submit" class="btn btn-success btn-sm" id="ingreso">Ingresar</button>
                                                        <img src="assets/imagenes/login.png" width="30px" alt="login" for="ingreso">&nbsp;
                                                    </a></li>
                                            </ul>
                                            <ul>
                                                <li><a href="signup">
                                                        <button type="submit" class="btn btn-success btn-sm" id="Registrarse">Registrarse</button>
                                                        <img src="assets/imagenes/register.png" width="30px" alt="Registrarse" for="Registrarse"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <nav class="h-25 nav-item">
                    <div class="row m-0 p-0">
                        <div class="col-12 d-flex justify-content-start" id="nav">
                            <ul>
                                <li><a href="home">Inicio</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <div id="contenido">
            <hr class="m-0">
            <br>
            <div class="row m-0 p-0">
                <div class="col-8 px-0">
                  
                  <br>
                    <div class="d-flex justify-content-center" id="section">
                            <img class="border border-2 border-secondary" id="fotocambia" src="assets/imagenes/dan.jpg" width="800px" height="400px" alt="bucaramanga">
                    </div>
                    <br>
                    <div class="d-flex justify-content-center">
                      <h2 class="border border-radius border-dark border-2">INICIA SESIÓN PARA HACER TU PRIMERA RESERVA</h2>
                    </div>
                </div>
                <div class="col-3 mb-4 p-0" id="prueb" style="border: double;">
                  <div class="d-flex justify-content-center">
                    <h2><b>SITIOS TURÍSTICOS</b></h2>
                  </div>
                        <div class="row">
                            <div class="col">
                                <img class="izq" src="assets/imagenes/catedralSagradaFlia.jpg" width="100%" height="30%" alt="Catedral Metropolitana de la Sagrada Familia">

                <aside>
                                <h3><b>Catedral Metropolitana de la Sagrada Familia</b></h3>
                    
                        Es uno de los templos religiosos más importantes de la ciudad, su imponente 
                        infraestructura que incluye una cúpula amarilla y verde, ocupa un espacio total 
                        de 72,20 m de largo y 32,50 de ancho. La catedral comprende tres cuerpos: un altar 
                        mayor con una altura interior de 11,73 m, y dos altares laterales. Además, tiene 10 
                        columnas en las naves laterales con acceso directo a la calle. El techo se realizó 
                        a través de un acabado artesanal en estuco y metal.
                </aside>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <img src="assets/imagenes/parqueSantander.jpg" width="100%" height="30%" alt="Parque Santander">

                                <h3><b>Parque Santander</b></h3>
                        
                                        Es un lugar histórico, oficialmente se inaugura en 1925. Es un parque que presenta una serie de caminos para poder dar un paseo, sentarse y también admirar el entorno natural con el que se encuentran los visitantes. Se construyó para homenajear al llamado Hombre de las Leyes Francisco de Paula Santander y este lugar se le conoce como parque o Plaza Santander. Además de la variedad de flora de este parque es interesante destacar alguna que otra fuente, esculturas.

                                </div>

                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
</div>