<div class="container">
    <div class="card p-4 col-8 offset-2 mt-5" id="update-user-form" [formGroup]="form">
        <h2 class="my-4 text-center fw-bold">Actualización de datos</h2>
        <div class="row my-4">
            <div class="col">
                <label for="doc" class="form-label fw-bold">Nombre: </label>
                <input type="text" class="form-control" id="name" formControlName="nombres">
            </div>
            <div class="col">
                <label for="doc" class="form-label fw-bold">Apellidos: </label>
                <input type="text" class="form-control" id="lastname" formControlName="apellidos">
            </div>
        </div>
        <div class="row my-4">
            <div class="col">
                <label for="doc" class="form-label fw-bold">Correo: </label>
                <input type="text" class="form-control" id="email" formControlName="correo">
            </div>
            <div class="col">
                <label for="doc" class="form-label fw-bold">Contraseña: </label>
                <input type="password" class="form-control" id="password" formControlName="clave">
            </div>
        </div>
        <div class="row my-4">
            <div class="text-center">
                <button class="btn btn-primary" (click)="update()">Actualizar datos</button>
            </div>                
        </div>
    </div>
</div>