<div class="border-start border-2 border-secondary border-end border-2 border-secondary container-fluid m-0 p-0" id="contenedor">
        <div class="row border-top border-2 border-secondary border-bottom border-2 border-secondary m-0 p-0">
            <div class="col-1 justify-content-center d-flex align-items-center m-0 p-2" id="logo">
                <img src="assets/imagenes/LogoSANRES.png" width="85px" alt="LOGO_SANRES">
            </div>
            <div class="col-11 border border-2 border-secondary m-0 p-0" id="content_header">
                <header class="h-75 border-bottom border-2 border-secondary border-bottom border-2 border-secondary p-0 h-50" id="header">
                    <div class="row m-0 p-0">
                        <div class="w-75 text-center d-flex align-items-center justify-content-center">
                            <h1 id="title">SANREST</h1>
                        </div>
                        <div class="w-25 d-flex justify-content-end d-flex align-items-end" id="login">
                            <div class="row container-fluid m-0 p-0">
                                <div class="col-12 m-0 p-0">
                                    <div class="row m-0 p-0" class="input-group">
                                        <div class="col-12 m-0 p-0 d-flex justify-content-end">
                                            <ul>
                                                <li><a href="signup">
                                                        <button type="submit" class="btn btn-success btn-sm" id="Registrarse">Registrarse</button>
                                                        <img src="assets/imagenes/register.png" width="30px" alt="Registrarse" for="Registrarse"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <nav class="h-25 nav-item">
                    <div class="row m-0 p-0">
                        <div class="col-12 d-flex justify-content-start" id="nav">
                            <ul>
                                <li><a href="home">Inicio</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
  <div class="container">
      <hr class="m-0">
      <br>
      <h1 class="text-center"><b>INGRESO</b></h1>
      <h4 class="text-center p-4"><b>Ingrese sus datos para iniciar sesión.</b></h4>
      <div class="section">
          <form action="" class="row">
              <div class="col-12">
                  <div [formGroup]="form">
                  <div class="row justify-content-center">
                      <div class="form-goup col-6">
                          
                              <b><label for="" class="col-form-label">Direccion de Correo Electronico:</label></b>
                              <input type="email" class="form-control shadow bg-body rounded border-primary" required="" placeholder="Correo electrónico del Usuario" id="email" name="email" formControlName="correo">
                              <div class="valid-feedback fw-bold">!! Campo correcto ¡¡</div>
                              <div class="invalid-feedback fw-bold">Por favor, ingrese correo electrónico</div>
                          
                      </div>
                  </div>
                  <div class="row justify-content-center">
                      <div class="form-group col-6">
                          
                              <b><label for="" class="col-form-label">Contraseña:</label></b>
                              <input type="password" class="form-control shadow bg-body rounded border-primary" required="" placeholder="Ingrese contraseña registrada" formControlName="clave">
                              <div class="valid-feedback fw-bold">!! Campo correcto ¡¡</div>
                              <div class="invalid-feedback fw-bold">Por favor, ingrese contraseño</div>
                          
                      </div>
                  </div>
                  <div class="row justify-content-center">
                      <div class="form-group col-6">
                          <br>
                          
                              <button type="submit" class="btn btn-primary" id="ingresar" (click)="login()">Ingresar</button>&nbsp;&nbsp;
                              <button type="reset" class="btn btn-danger">Cancelar</button>
                          
                      </div>
                  </div>
              </div>
              </div>
          </form>
          
          <h4 class="text-center p-4"><b>¿No tienes cuenta? <a href="signup">Regístrate</a></b></h4>
          
      </div>
  </div>
</div>